doctype html
html(lang='en')
    head
        include head/head-meta
        title Quizzie| Being Zero
        include head/head-styles
    body
        include body/body-header
        include body/body-content

        //include body/body-footer

        //- include body/body-copyright
        include body/body-scripts
        block scripts

        