doctype html
html(lang='en' ng-app="beingZeroApp" ng-controller="beingZeroCtrl")
    head
        include head/head-meta
        title Being Zero
        include head/head-styles
        //- include head/head-scripts
    body
        include body/body-header
        
        include body/body-content

        //include body/body-footer

        //- include body/body-copyright

        //- include body/body-preloader

        include body/body-scripts

    