//- // favicon
//- link(rel='shortcut icon', href='assets/img/icons/bzfavicon.png')
//- // apple-touch-icon
//- link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/img/icons/apple-touch-icon-144-precomposed.png')
//- link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/img/icons/apple-touch-icon-114-precomposed.png')
//- link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/img/icons/apple-touch-icon-72-precomposed.png')
//- link(rel='apple-touch-icon-precomposed', href='assets/img/icons/apple-touch-icon-57-precomposed.png')
//- // animate CSS
//- link(rel='stylesheet', href='assets/css/animate.min.css', media='all')
//- // Owl Carousel
//- link(rel='stylesheet', href='assets/css/owl.carousel.min.css', media='all')
//- // Bootsnav Menu
//- link(rel='stylesheet', href='assets/css/bootsnav.css', media='all')
//- // Bootstrap
//- link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css', media='all')
//- // Style CSS
//- link(rel='stylesheet', type='text/css', href='assets/css/style.css', media='all')
//- link(rel='stylesheet', type='text/css', href='assets/css/course-detail.css', media='all')
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet")
block styles
