meta(name='description', content='Being Zero is leader in hands-on coding and system design trainings offering Best Training in Data Structures and Algorithms.  Located in Hyderabad, India.  Also provides classes online.')
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='keywords', content='quizz')
meta(name='author', content='beingzero.in')
