extends includes/basePage
block scripts
    script(src="/assets/js/createQuiz.js")
block styles
    link(rel="stylesheet" href="/assets/css/createQuiz.css")
block page-content
    .container.CreateQuiz
        .login-form
            .row
                h1(style="font-weight: 700!important;color: #2980b9!important;text-align:center;margin:5% 0%;" ) Quiz Details
            .row.form-group.mb-3.d-flex.justify-content-center
                label.form-label.mt-3#quizname(style="text-align:center") Quiz Name
                input.form-control.col-12.ml-2.mb-3#quizName(type="text" name="quizName" placeholder="Enter Quiz Name" style="text-align:center;border-color:black") 
            .row.d-flex(style="display:inline;")
                .col
                    span.quiz Select Quiz Date
                    input.form-control.mb-5.col-12#date(type="date" name='date' step="1")
                .col
                    span.quiz Select Quiz Time
                    input.form-control.mb-3.col-12#time(type="time" name='time' step="1")
            .row
                label.d-flex.justify-content-center Select Quiz Duration
                .timer
                    span.timer-span
                        span.timer-text 5
                    input.timer-input(type='range' max='60'  min='5' value='5' step='5' oninput='onInput()')
            .row.d-flex.justify-content-center
                .col
                    label.form-label.ml-5(style="text-align:center;margin-right:5%") Select Quiz Type
                .col
                    label.form-label(style="text-align:center") Select Quiz Topic
            .row.form-group.d-flex.justify-content-center
                .col-6
                    select.form-control.ml-5#quizType(name="quizType" style="margin-right:5%")
                        option(selected='Private' value="Private" ) Private
                        option(value='Public') Public
                .col-6
                    select.form-control.col-6#quizTopic(name="topicName")
                        option(selected='None' value="None" ) None
                        option(value='arrays') Arrays
                        option(value='strings') Strings
                        option(value='stacks') Stacks
                        option(value='queue') Queues
                        option(value='LinkedLists') LinkedLists
                        option(value='graphs') Graphs
                        option(value='Trees') Trees
            .row.mt-5.d-flex.justify-content-center
                button.btn#submit(type="button" onclick="showdata()") CREATE QUIZ
            .row.h6.text-center#note.mt-2.mb-2 NOTE: After creating the quiz,you can add questions by editing the quiz in YOUR QUIZZES section of the dashbord 
            .row.mb-3