extends includes/basePage
block scripts
    script(src="/assets/js/dashboard.js")
block styles
    link(rel="stylesheet" href="/assets/css/dashboard.css")
block page-content
        .container.dashboard-page
                    h1.dash-head Dashboard
                    .row.tabs
                        button.btn.col-4#0(type="button" onclick="openPage('Quizzes', this,0)") Quizzes
                        button.btn.col-4.history#1(type="button"  onclick="openPage('History', this,1)" style="display:none") History
                        button.btn.col-4.yourquizzes#3(type="button"  onclick="openPage('YourQuizzes', this,1)" style="display:none") Your Quizzes
                        button.btn.col-4#2(type="button" onclick="openPage('Profile', this,2)") Profile
                    .row 
                        #Quizzes.tabcontent
                            #userQuiz
                            #enrolledquiz

                            h3.mt-3(style="padding-top:3%;color:#066EF7;float:none") Upcoming Quizzes
                            hr(style="height:2px;width:100%;background-color:#066EF7;overflow:hidden;position:relative;")
                            .upcoming-list.root2   
                                div#UpcomingQuizzes
                                #enrollpopup.modal
                                    .modal-dialog.modal-dialog-centered
                                        .modal-content
                                            div#displayenrollpopup
                                
                        #History.tabcontent
                            div#test
                        #YourQuizzes.tabcontent
                            h3 Your Quizzes                           
                        #Profile.tabcontent()
                            .details
                            #userdata

                            a(href='/ui/updateProfile')
                                button.btn.btn-primary(type='button') Update Profile

