extends includes/basePage
//- meta(name='viewport', content='width=device-width, initial-scale=1')

block styles
    link(rel="stylesheet" href="/assets/css/dashboard.css")
    //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')

    //- link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')

block page-content
        .container.dashboard-page
                    h1.dash-head Dashboard
                    .row.tabs
                        button.btn.col-4#0(type="button" onclick="openPage('Quizzes', this,0)") Quizzes
                        button.btn.col-4.history#1(type="button"  onclick="openPage('History', this,1)" style="display:none") History
                        button.btn.col-4.yourquizzes#3(type="button"  onclick="openPage('YourQuizzes', this,1)" style="display:none") Your Quizzes
                        button.btn.col-4#2(type="button" onclick="openPage('Profile', this,2)") Profile
                    .row 
                        #Quizzes.tabcontent
                            #userQuiz
                            #enrolledquiz
                            h3.mt-3(style="padding-top:3%;color:#066EF7;float:none") Upcoming Quizzes
                            hr(style="height:2px;width:100%;background-color:#066EF7;overflow:hidden;position:relative;")
                            .upcoming-list.root2   
                                div#UpcomingQuizzes
                                #enrollpopup.modal
                                    .modal-dialog.modal-dialog-centered
                                        .modal-content
                                            div#displayenrollpopup
                            #show_paginator                      

                                
                        #History.tabcontent
                            div#test
                        #YourQuizzes.tabcontent
                            h3 Your Quizzes     
                            div#displayyourquizzes                      
                        #Profile.tabcontent
                            .details
                            #userdata

                            a(href='/ui/updateProfile')
                                button.btn.btn-primary(type='button') Update Profile
                    #snackbar Some text some message..
 
block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js', integrity='sha512-frFP3ZxLshB4CErXkPVEXnd5ingvYYtYhE5qllGdZmcOlRKNEPbufyupfdSTNmoF5ICaQNO6SenXzOZvoGkiIA==', crossorigin='anonymous')
    script(src="/assets/js/dashboard.js")

