extends includes/basePage
block styles
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href='https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css', rel='stylesheet')
    link(rel="stylesheet" href="/assets/css/editQuiz.css")
block page-content
    .container.editQuiz
        .login-form
            h1(style="color:#5190f5;text-align:center;fontweight:bold;" ) Edit Quiz
            hr(style="background-color:blue;width:100%;height:1px;")
            .row.edit-btn-bar.d-flex.justify-content-between
                .col
                    button.btn.feed(style="background-color:green;color:white;float:right;margin-left:3%;margin-bottom:3%;" onclick="feedback()" ) 
                        i.fa.fa-comments-o(style="font-size:19px;margin-right:5%")
                        | FeedBack
                    button.btn(style="background-color:#F42F0C;color:white;float:right;margin-left:3%;margin-bottom:3%;"  data-toggle='modal' data-target='#Modal' ) 
                        i.fas.fa-trash(style="margin-right:5%")
                        | Delete Quiz
                    a#editbutton
                        button.btn(style="background-color:#2179ED;color:white;float:right;")
                            i.fas.fa-pen(style="margin-right:5%")
                            |Edit Details
            .row
                //input#save-pdf(type="button" value="Save as PDF" disable)
                #Modal.modal.fade(tabindex='-1' aria-labelledby='ModalLabel' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered.modal-sm(style="max-width:40%;vertical-align: middle;")
                        .modal-content
                            .modal-body
                                .row
                                    p(style="text-align:center")  Are you sure you want to delete this quiz ?
                                .row.d-flex.justify-content-center.mb-1.mt-1
                                    button.btn(style='margin-right:15%;background-color:#F64E0F;color:white' type='button' onclick="deletequiz()") Yes
                                    button.btn.btn-primary(type='button' data-dismiss="modal") No

            .quiz-details.ml-2.mt-5
                .row
                    .col
                        h6.label Name :
                    .col
                        span.quiz-detail-text.mx-auto#quizName 
                .row
                    .col
                        h6.label Date : 
                    .col  
                        span.quiz-detail-text#date 
                .row
                    .col
                        h6.label Time :
                    .col
                        span.quiz-detail-text#time 
                .row
                    .col
                        h6.label Duration:
                    .col
                        span.quiz-detail-text#duaration 
                .row
                    .col
                        h6.label Type :
                    .col
                        span.quiz-detail-text#type
                .row#topicName 
                .row#quizcode

            .quiz-Questions.mt-5
                .row
                    h1.ml-auto.mr-auto(style="color:#5190f5;text-align:center !important;") Questions
                    hr(style="background-color:blue;width:100%;height:1.5px;")
                .row
                    button.btn.btn-success.btn-sm.ml-auto.mb-5(style="float:right;" type='button' data-toggle='modal' data-target='#showquestions') ADD A QUESTION  
                    #showquestions.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true')
                        .modal-dialog.modal-lg.modal-dialog-scrollable(role='document')
                            .modal-content   
                                .modal-body
                                    .container
                                        h5#showquestions.Title.modal-title.text-center New Question
                                        .row
                                            .dropzone
                                                section
                                                    div#input
                                                        input.filestyle.ml-5#file(multiple type='file',accept=".csv", data-input='false', data-iconname='fas fa-plus-circle fa-3x', data-buttonText="")
                                                        p(style='color: rgb(110, 110, 110);') Drag &apos;n&apos; drop or click to select files



                                                
                                        hr
                                        .row.form-group.mb-3.d-flex.justify-content-center
                                            label.form-label.mt-3(style="text-align:center") Enter Question
                                            div(style="  font-weight: normal;")
                                                textarea.col-12#question
                                            //- input.form-control.col-12.ml-2#question(type="text" name="quizText" placeholder="Enter Quiz Text" style="text-align:center;")
                                            small#Question(style="color:red;font-weight: bold;") 
                                        .row.d-flex(style="display:inline;")
                                            .col
                                                span.options.mt-3 Option 1
                                                input.form-control.col-12#val1(type="text" name='option1' placeholder="Option 1")
                                                .invalid-feedback#op1
                                            .col
                                                span.options.mt-3 Option 2
                                                input.form-control.col-12#val2(type="text" name='option2' placeholder="Option 2" )
                                                .invalid-feedback#op2
                                        .row.d-flex(style="display:inline;")
                                            .col
                                                span.options.mt-3 Option 3
                                                input.form-control.col-12#val3(type="text" name='option3' placeholder="Option 3" )
                                                .invalid-feedback#op3
                                            .col
                                                span.options.mt-3 Option 4
                                                input.form-control.col-12#val4(type="text" name='option4' placeholder="Option 4")
                                                .invalid-feedback#op4
                                        .row.form-group.d-flex.justify-content-center.mt-4
                                                select.form-control#selectedoption(name="")
                                                    option#op1(value="option1") option 1
                                                    option#op2(value="option2") option 2
                                                    option#op3(value="option3") option 3
                                                    option#op4(value="option4") option 4
                                        hr 
                                        .row.d-flex.justify-content-center
                                            button.btn.btn-success.btn-sm.ml-auto.mr-auto(style="float:right" onclick="getdata()") ADD A QUESTION
                .row.mt-3
                    .col-md-12
                        #submissions
                        #delModal.modal.fade(tabindex='-1' aria-labelledby='ModalLabel' aria-hidden='true')
                            .modal-dialog.modal-dialog-centered.modal-sm(style="max-width:40%;vertical-align: middle;")
                                .modal-content
                                    .modal-body
                                        .row
                                            p(style="text-align:center")  Are you sure you want to delete this Question ?
                                        .row.d-flex.justify-content-center.mb-1.mt-1
                                            button.btn(style='margin-right:15%;background-color:#F64E0F;color:white' type='button' onclick="deletequestion()") Yes
                                            button.btn.btn-primary(type='button' data-dismiss="modal") No
            .students-list.mt-5
                .row
                    h1.ml-auto.mr-auto(style="color:#5190f5;text-align:center;") Submissions
                    hr(style="background-color:blue;width:100%;height:1.5px;")
                    #updatequestions.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true')
                        .modal-dialog.modal-lg.modal-dialog-scrollable(role='document')
                            .modal-content
                                .modal-header
                                    h5#updatequestions.Title.modal-title.ml-auto Update Question
                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                                .modal-body
                                    .container
                                        .row.form-group.mb-3.d-flex.justify-content-center
                                            label.form-label.mt-3(style="text-align:center") Enter Question 
                                            div(style="  font-weight: normal;")
                                                textarea.col-12#questionName
                                            small#QuestionName(style="color:red;font-weight: bold;") 

                                        hr
                                        .row.d-flex(style="display:inline;")
                                            .col
                                                span.options Option 1
                                                input.form-control.mb-3.col-12#o1(type="text" name='option1' placeholder="Option 1")
                                                .invalid-feedback#O1

                                            .col
                                                span.options Option 2
                                                input.form-control.mb-3.col-12#o2(type="text" name='option2' placeholder="Option 2" )
                                                .invalid-feedback#O2

                                        .row.d-flex(style="display:inline;")
                                            .col
                                                span.options Option 3
                                                input.form-control.mb-3.col-12#o3(type="text" name='option3' placeholder="Option 3" )
                                                .invalid-feedback#O3

                                            .col
                                                span.options Option 4
                                                input.form-control.mb-3.col-12#o4(type="text" name='option4' placeholder="Option 4")
                                                .invalid-feedback#O4

                                        hr
                                        .row.form-group.d-flex.justify-content-center
                                                select.form-control#selected(name="")
                                                    option#op1(value="option1") option1
                                                    option#op2(value="option2") option2
                                                    option#op3(value="option3") option3
                                                    option#op4(value="option4") option4
                                        .row
                                            button.btn.btn-success.btn-sm.ml-auto.mr-auto( onclick="updatedata()") UPDATE QUESTION
                    .row
                        .col
                            button.btn.btn-sm.mb-4(style="background-color:#802BD4;color:white;float:right")
                                a#stats(style="text-decoration:none;color:white")
                                    i.far.fa-chart-bar(style="margin-right:5%")
                                    |VIEW STATS
                            button.btn.mr-3#download(style="background-color: DodgerBlue;color:white;float:right;margin-left:3%;margin-bottom:3%;") 
                                i.fa.fa-download(style="margin-right:5%")
                                | QuizResults
                    .row
                        label(style="margin-left:88%") SortBy
                    .row.mb-5
                        .col-9
                            .input-group.mb-3
                                    input.form-control#search(type='text' placeholder='Search with name or marks' onkeyup="filter()" aria-label='search')
                        .col(style="margin-left:-10%;min-width:150px")
                            select.form-control.ml-auto#selectop(name="" onchange="sort()")
                                option#op1(value="none") None
                                option#op2(value="recent") Recent
                                option#op3(value="score") Marks
                                option#op4(value="name") Name
                    .row.mb-5
                        #results.mt-3
                    #show_paginator.mt-5.d-flex.justify-content-center
block scripts
    script(src='https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js', integrity='sha512-frFP3ZxLshB4CErXkPVEXnd5ingvYYtYhE5qllGdZmcOlRKNEPbufyupfdSTNmoF5ICaQNO6SenXzOZvoGkiIA==', crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js")
    script(src="/assets/js/xlsx.js")
    script(src="/assets/js/filesaver.js")
    script(src="/assets/js/editQuiz.js")



                  

                    

