extends includes/basePage
block scripts
    script(src="/assets/js/editQuiz.js")
block styles
    link(rel="stylesheet" href="/assets/css/editQuiz.css")
block page-content
    .container.editQuiz
        .login-form
            h1(style="color:#5190f5;text-align:center;fontweight:bold;" ) Edit Quiz
            hr(style="background-color:blue;width:100%;height:1px;")
            .row.edit-btn-bar.d-flex.justify-content-between
                .col
                    button.btn(style="background-color:#F42F0C;color:white;float:right;margin-left:3%;margin-bottom:3%;"  data-toggle='modal' data-target='#Modal' ) 
                        i.fas.fa-trash(style="margin-right:5%")
                        | Delete Quiz
                    a#editbutton
                        button.btn(style="background-color:#2179ED;color:white;float:right;")
                            i.fas.fa-pen(style="margin-right:5%")
                            |Edit Details
                #Modal.modal.fade(tabindex='-1' aria-labelledby='ModalLabel' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered.modal-sm(style="max-width:40%;vertical-align: middle;")
                        .modal-content
                            .modal-body
                                .row
                                    p(style="text-align:center")  Are you sure you want to delete this quiz ?
                                .row.d-flex.justify-content-center.mb-1.mt-1
                                    button.btn(style='margin-right:15%;background-color:#F64E0F;color:white' type='button' onclick="deletequiz()") Yes
                                    button.btn.btn-primary(type='button' data-dismiss="modal") No

            .quiz-details.ml-2.mt-5
                .row
                    .col
                        h6.label Name :
                    .col
                        span.quiz-detail-text.mx-auto#quizName 
                .row
                    .col
                        h6.label Date : 
                    .col  
                        span.quiz-detail-text#date 
                .row
                    .col
                        h6.label Time :
                    .col
                        span.quiz-detail-text#time 
                .row
                    .col
                        h6.label Duration:
                    .col
                        span.quiz-detail-text#duaration 
                .row
                    .col
                        h6.label Type :
                    .col
                        span.quiz-detail-text#type 
                    .row#quizcode
            .quiz-Questions.mt-5
                .row
                    h1.ml-auto.mr-auto(style="color:#5190f5;text-align:center !important;") Questions
                    hr(style="background-color:blue;width:100%;height:1.5px;")
                .row
                    button.btn.btn-success.btn-sm.ml-auto.mb-5(style="float:right;" type='button' data-toggle='modal' data-target='#showquestions') ADD A QUESTION  
                    #showquestions.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true')
                        .modal-dialog.modal-lg.modal-dialog-scrollable(role='document')
                            .modal-content   
                                .modal-body
                                    .container
                                        h5#showquestions.Title.modal-title.text-center New Question
                                        hr
                                        .row.form-group.mb-3.d-flex.justify-content-center
                                            label.form-label.mt-3(style="text-align:center") Enter Question 
                                            input.form-control.col-12.ml-2.mb-3#question(type="text" name="quizText" placeholder="Enter Quiz Text" style="text-align:center;") 
                                        .row.d-flex(style="display:inline;")
                                            .col
                                                span.options Option 1
                                                input.form-control.mb-3.col-12#val1(type="text" name='option1' placeholder="Option 1")
                                            .col
                                                span.options Option 2
                                                input.form-control.mb-3.col-12#val2(type="text" name='option2' placeholder="Option 2" )
                                        .row.d-flex(style="display:inline;")
                                            .col
                                                span.options Option 3
                                                input.form-control.mb-3.col-12#val3(type="text" name='option3' placeholder="Option 3" )
                                            .col
                                                span.options Option 4
                                                input.form-control.mb-3.col-12#val4(type="text" name='option4' placeholder="Option 4")
                                        .row.form-group.d-flex.justify-content-center
                                            .col-5
                                                select.form-control#selectedoption(name="")
                                                    option#op1(value="option1") option 1
                                                    option#op2(value="option2") option 2
                                                    option#op3(value="option3") option 3
                                                    option#op4(value="option4") option 4
                                        hr 
                                        .row
                                            button.btn.btn-success.btn-sm.ml-auto.mr-auto(style="float:right" onclick="getdata()") ADD A QUESTION
                .row.mt-3
                    .col-md-12
                        #submissions
            .students-list.mt-5
                .row
                    h1.ml-auto.mr-auto(style="color:#5190f5;text-align:center;") Submissions
                    hr(style="background-color:blue;width:100%;height:1.5px;")
                    #updatequestions.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true')
                        .modal-dialog.modal-lg.modal-dialog-scrollable(role='document')
                            .modal-content
                                .modal-header
                                    h5#updatequestions.Title.modal-title.ml-auto Update Question
                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                                .modal-body
                                    .container
                                        .row.form-group.mb-3.d-flex.justify-content-center
                                            label.form-label.mt-3(style="text-align:center") Enter Question 
                                            input.form-control.col-12.ml-2.mb-3#questionName(type="textarea" name="quizText" placeholder="Enter Quiz Text" style="text-align:center;") 
                                        hr
                                        .row.d-flex(style="display:inline;")
                                            .col
                                                span.options Option 1
                                                input.form-control.mb-3.col-12#o1(type="text" name='option1' placeholder="Option 1")
                                            .col
                                                span.options Option 2
                                                input.form-control.mb-3.col-12#o2(type="text" name='option2' placeholder="Option 2" )
                                        .row.d-flex(style="display:inline;")
                                            .col
                                                span.options Option 3
                                                input.form-control.mb-3.col-12#o3(type="text" name='option3' placeholder="Option 3" )
                                            .col
                                                span.options Option 4
                                                input.form-control.mb-3.col-12#o4(type="text" name='option4' placeholder="Option 4")
                                        hr
                                        .row.form-group.d-flex.justify-content-center
                                            .col-5
                                                select.form-control#selected(name="")
                                                    option#op1(value="option1") option1
                                                    option#op2(value="option2") option2
                                                    option#op3(value="option3") option3
                                                    option#op4(value="option4") option4
                                        hr 
                                        .row
                                            button.btn.btn-success.btn-sm.ml-auto.mr-auto(style="float:right" onclick="updatedata()") UPDATE QUESTION
                
                    
                    
                    .row
                        button.btn.btn-sm.ml-auto.mb-4(style="background-color:#802BD4;color:white;float:right")
                            a#stats(style="text-decoration:none;color:white")
                                i.far.fa-chart-bar(style="margin-right:5%")
                                |VIEW STATS
                    .row.mb-5
                        select.form-control.ml-auto#selectop(name="" onchange="sort()")
                                option#op1(value="none") None
                                option#op2(value="recent") Recent
                                option#op3(value="score") Score
                                option#op4(value="name") Name
                    .row.mb-5
                        #results.mt-3


                  

                    

