doctype html
html(lang="en")
    head
        title Quizzie| Being Zero
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="/assets/css/popup.css")
        link(rel="stylesheet" href="/assets/css/home.css")
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        block navbar
            nav.navbar(style="background-color:white !important;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); height:4em")
                a.navbar-brand(href="/ui/dashboard")
                    img(src='/assets/img/icons/logo.jpg' width="40px" height="40px")
                span.navbar-brand.mb-0.h1(style="margin-left:5px") The Quizzie Platform
                .nav-item.nav-link.ml-auto(style={"font-size":'18px','font-family':'Arial, Helvetica, sans-serif'} )
                button.btn(type="button" onclick="mylogin()" style="width=16%;height:35px;font-weight:bold;color:white;background:#2980B9 !important;border:none;border-radius:3px;") LOGIN
                 
        div.words
            div.c(style='float:left;margin-top:2em;')
                p.welcome WELCOME TO
                b.quizzie QUIZZIE
                p.para Made With 
                span(style='font-size:180%;color:red;float:left;margin-top:-.3em; margin-right:.2em;') &hearts;
                p.par By BeingZero
            img.icon(src='/assets/img/icons/quiz.png')

        div.details
           p(style='font-size:300%;margin-bottom: -.2em') You are not logged in!
           p(style='font-size:130%; margin-left:8%') Login/Signup to Continue!
           button.btn.x(type="button" onclick='mylogin()') LOGIN 
           button.btn.y(type="button" onclick='mysignup()') SIGNUP
        div.modal

        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
        script(src="/assets/js/popup.js")
        