extends includes/basePage
block styles
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    link(rel="stylesheet" href="/assets/css/login.css")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
block page-content
    body
        div.main(style=' padding-bottom:16%')
            p.head(style='margin-left:3.5em')
                b Login Now
            div.google
                .google-btn(onclick='googlelogin()')
                    .google-icon-wrapper
                        img.google-icon(src='https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg')
                    p.btn-text
                        b Sign in with google
            
            input.email(type='text' placeholder='Email')
            p#emailalert
            input.password(type='password' placeholder='Password')
            p#passwordalert
            button.btn(type="button" onclick='login()' href="/dashboard") Login
      
            a(href="/ui/signup/user")
                p.signup Don't have an account? Join the Quizzie now!

        block scripts
            script(src="/assets/js/login.js")