extends includes/basePage
block styles
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    link(rel="stylesheet" href="/assets/css/login.css")
block page-content
    body(style='background:rgb(240, 255, 240)')  
       
        div.main(style=' padding-bottom:16%')
            p.head(style='margin-left:3.5em')
                b Login Now
            div.google
                a(href="/api/auth/admin/google")
                    .google-btn
                        .google-icon-wrapper
                            img.google-icon(src='https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg')
                        p.btn-text
                            b Sign in with google
            
            input.email(type='text' placeholder='Email')
            p#emailalert
            input.password(type='password' placeholder='Password')
            p#passwordalert
            button.btn(type="button" onclick='login()' href="/ui/dashboard") Login
      
            a(href="/ui/signup/organizer")
                p.signup Don't have an account? Join the Quizzie now!

        block scripts
            script(src="/assets/js/login_organizer.js")