extends includes/basePage
block styles
    link(rel="stylesheet" href="/assets/css/login.css")
block page-content
    body(style='background:rgb(240, 255, 240)')  
       
        div.main(style='padding-bottom:10%')
            p.head(style='margin-left:2.5em')
                b Join the force!!

            .g-signin2(data-onsuccess='onSignIn' style='margin-left:13em;margin-bottom:1.5em;width:150px;height:35px' )
      
            input.field(type='text' placeholder='Name')
            input.field(type='' placeholder='Phone Number')
            input.field(type='email' placeholder='Email')
            input.field(type='password' placeholder='Password')
        
            a(href="/dashboard")
                button.btn(type="button" ) Sign Up