extends includes/basePage
block head-styles
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='google-signin-scope' content='profile email')
    meta(name='google-signin-client_id' content='MY_CLIENT_ID_ON_GOOGLE_DEV.apps.googleusercontent.com')
    script(src='https://apis.google.com/js/api.js')
    script(src='https://apis.google.com/js/platform.js' async='' defer='')
block page-content
    body(style='background:rgb(240, 255, 240)')  
       
        div(style='margin-left:20em; padding-bottom:14%;margin-top:-2em;background:white;margin-right:25em')
            h1(style='color: dodgerblue; font-size:250%; margin-bottom:.5em;  margin-top: .5em; margin-left:3.5em') Join the Force!!

            .g-signin2(data-onsuccess='onSignUp' style='margin-left:13em;margin-bottom:1.5em;width:150px;height:35px' )
      
            input(type='text' placeholder='Name' style='font-size:100%;margin-bottom:2em;margin-left:5em;width:400px;height:30px'  )

            input(type='' placeholder='Phone Number' style='font-size:100%;margin-bottom: 2em;margin-left:5em;width:400px;height:30px' )
        
            input(type='email' placeholder='Email' style='font-size:100%;margin-bottom: 2em;margin-left:5em;width:400px;height:30px' )
        
            input(type='password' placeholder='Password' style='font-size:100%;margin-bottom: 2em;margin-left:5em;width:400px;height:30px' )
        
            a(href="dashboard")
                button.btn(type="button" href="/dashboard" style='color:white; margin-left:15em; margin-right:5em; background:dodgerblue') Sign Up
