extends includes/basePage
block styles
    link(rel="stylesheet" href="/assets/css/signup_owner.css")
    
block page-content
    .container.signUp#sign
        .login-form
            .row
                h1.signup-text(style="font-weight: 700!important;color: #2980b9!important;text-align:center;margin-top:25%" ) Owner Signup
            .row.form-floating.mt-5.mb-1.d-flex.justify-content-center          
                input#floatingName.form-control.col-8.ml-2.mb-1.name(type="text" name="name" placeholder="Name" style="width:80% !important")
                label(for='floatingInput',style="margin-left:10% !important;color:grey") Name
                p#namealert 
            .row.form-floating.mb-1.d-flex.justify-content-center          
                input#floatingMobile.form-control.col-8.ml-2.mb-1.phone(type="text" name="mobileNumber" placeholder="Phone Number" style="width:80% !important")
                label(for='floatingMobile',style="margin-left:10% !important;color:grey") Phone Number
                p#phonealert 
            .row.form-floating.mb-1.d-flex.justify-content-center          
                input#floatingPostion.form-control.col-8.ml-2.mb-1.position(type="text" name="boardPosition" placeholder="Board Position" style="width:80% !important") 
                label(for='floatingMobile',style="margin-left:10% !important;color:grey") Board Position
                p#positionalert
            .row.form-floating.mb-1.d-flex.justify-content-center          
                input#floatingEmail.form-control.col-8.ml-2.mb-1.email(type="text" name="email" placeholder="Email" style="width:80% !important") 
                label(for='floatingEmail',style="margin-left:10% !important;color:grey") Email
                p#emailalert
            .row.form-floating.mb-1.d-flex.justify-content-center          
                input#floatingPassword.form-control.col-8.ml-2.mb-1.password(type="password" name="password" placeholder="Password" style="width:80% !important")
                label(for='floatingPassword',style="margin-left:10% !important;color:grey") Password
                p#passwordalert 
            .row.form-floating.mb-1.d-flex.justify-content-center          
                input#floatingCode.form-control.col-8.ml-2.mb-1.code(type="text" name="secretCode" placeholder="Secret Code" style="width:80% !important")
                label(for='floatingCode',style="margin-left:10% !important;color:grey") Secret Code
                p#codealert 
            .row.mt-5.d-flex.justify-content-center
                button.btn#submit(type="button" onclick="signup()") SIGN UP
            #snackbar Some text some message..
block scripts
     script(src="/assets/js/signup_owner.js")