extends includes/basePage
block styles
    link(rel="stylesheet" href="/assets/css/login.css")
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    
block page-content
    body(style='background:rgb(240, 255, 240)')  
       
        div.main(style='padding-bottom:12%')
            p.head(style='margin-left:2.5em')
                b Join the force!!

            div(style='margin-left:13em;padding-bottom:3%')
                a(href="/api/auth/google")
                    .google-btn
                        .google-icon-wrapper
                            img.google-icon(src='https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg')
                        p.btn-text
                            b Sign Up with google

            input.name(type='text' placeholder='Name')
            p#namealert
            input.phone(type='number' placeholder='Phone Number')
            p#phonealert
            input.email(type='email' placeholder='Email' )
            p#emailalert
            input.password(type='password' placeholder='Password')
            p#passwordalert
        
            button.btn(type="button" onclick='signup()') Sign Up
        block scripts
            script(src="/assets/js/signup.js")
            