<meta name="viewport" content="width=device-width,initial-scale=1.0">
block styles
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
    link(rel="stylesheet" href="/assets/css/startquiz.css")
script.
    let quizid = '!{quizid}';
block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js")
block page-content
    #submitpopup.modal
        .modal-dialog.modal-dialog-centered
            .modal-content
                div#displaysubmitpopup
    .quiz-page.container
        .row
            .col(style="text-align:center")
                #heading
        .row
            .col
                p(style="margin:0%;text-align:center;color:red") Time Remaining
                .timer.mb-4#timedisplay(style="margin:0%;text-align:center")
        .row    
            .col
                #display

block scripts
        script(src="/assets/js/startquiz.js")

