<meta name="viewport" content="width=device-width,initial-scale=1.0">
block styles
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
    link(rel="stylesheet" href="/assets/css/startquiz.css")
script.
    let quizid = '!{quizid}';
block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js")
block page-content
    #snackbar Some text some message..

    #submitpopup.modal
        .modal-dialog.modal-dialog-centered
            .modal-content  
                div#displaysubmitpopup
    nav.navbar.sticky-top.mb-3(style="background-color:white !important;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);text-align: center;")
    
        span.navbar-brand.mb-0.h1(style="margin-left:3%;")
            div#heading(style="text-align:center")
        .nav-item.nav-link.ml-auto(style={"font-size":'110%','font-family':'Arial, Helvetica, sans-serif'} )
            .timer#timedisplay(style="margin:0%;text-align:center")
       
    //- nav.navbar.sticky-top.mb-3.d-flex.justify-content-center(style="background-color:white !important;")
    //-         div#heading(style="text-align:center")
    //-         .row
    //-         p(style="margin:0%;text-align:center;color:red;width:100%") Time Remaining
    //-         .timer#timedisplay(style="margin:0%;text-align:center")
    div#spacing
        #tabswitch.modal
            .modal-dialog.modal-dialog-centered
                .modal-content
                    div#displaytabswitch
        .row
            .col-lg-3.col-md-4.col-sm-5
                input#exampleCheck1.form-check-input(type='checkbox').ml-2
                label.form-check-label(for='exampleCheck1').ml-4 reviewed
                input#exampleCheck2.form-check-input(type='checkbox').ml-2
                label.form-check-label(for='exampleCheck2').ml-4 unanswered
                .wpProQuiz_reviewDiv.mt-2.mb-2(style='')
                    .wpProQuiz_reviewQuestion
                        ol(style='margin-top: 0px !important')
                        #que
                        #que1
                        div(style='display: none; top: 0px;')
                    .wpProQuiz_reviewLegend
                        ol
                            li
                            span.wpProQuiz_reviewColor(style='background-color: #6CA54C;')
                            span.wpProQuiz_reviewText.mr-3(style="  font-size: 100% !important;")#ANS     Answered(0)           
                            br(style="display:none")            
                            li
                            span.wpProQuiz_reviewColor(style='background-color: #FFB800;')
                            span.wpProQuiz_reviewText.mr-3(style="   font-size: 100% !important;")#REV  Review(0)  
                            br(style="display:block")                         
                            li
                            span.wpProQuiz_reviewColor(style='background-color:white;border-style: groove;')
                            span.wpProQuiz_reviewText(style="  font-size: 100% !important;")#NA  Not Answered(0)   
                            
                    div(style='clear: both;')


                    //- .wpProQuiz_reviewLegend
                    //-     ol
                    //-     li
                    //-         span.wpProQuiz_reviewColor(style='background-color: #6CA54C;')
                    //-         span.wpProQuiz_reviewText Answered
                    //-     li
                            
                            
   
            .col
                div#d1
                    .row
                        .col-2
                                p#accuracy(style="float:left !important") guk
                        .col-10
                    
                            div(style="width:100% !important").d-flex.justify-content-end#reviewbtn
                                button.btn.btn-sm.mb-3(type='button', value='mark as review', name='review', onclick='review()') mark as review
                    #display
block scripts
        script(src="/assets/js/startquiz.js")

