extends includes/basePage
block styles
    link(rel="stylesheet" href="/assets/css/stats.css")
block scripts
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript" src="/assets/js/stats.js")
block page-content
    .container
        h1.mt-1 Stats
        hr()
        .charts
            .row
                #pie_chart.d-flex.justify-content-center
            .row
                .col
                    #bar_chart.d-flex.justify-content-between(height="616px" width="304px")
                .col
                    #line_chart.d-flex.justify-content-between

       


        