extends includes/basePage
block styles
    link(rel="stylesheet" href="/assets/css/stats.css")
block scripts
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js')
    script(type="text/javascript" src="/assets/js/stats.js")
block page-content
    .container
        h1.mt-1 Stats
        hr
        .charts
            .row
                button.btn.btn-primary#save-pdf(type="button") Save as Pdf
            .row
                #pie_chart.d-flex.justify-content-center
            .row
                .col
                    #bar_chart.d-flex.justify-content-between               
                .col
                    #line_chart.d-flex.justify-content-between

       


        