extends includes/basePage
block scripts
    script(src="/assets/js/updateProfile.js")
block styles
    link(rel="stylesheet" href="/assets/css/updateProfile.css")
block page-content
    .container.Profile
        h1( style="padding:25% 25% 5% 25%;color:#5190f5" ) Update Profile
        .login-form
            .form
                .form-group(style="padding-bottom:10%")
                    label Name
                    input.form-control#1(type="text"  name='name'   required='' )
                    span#nameerror(style="color:red;font-size:15px;")
                .form-group(style="padding-bottom:10%")
                    label PhoneNumber
                        input.form-control#2(type="text" name='mobileNumber'  maxlength="10" minlength="10"  required='')
                    span#phoneerror(style="color:red;font-size:15px;")
                button.btn.btn-primary(Onclick="validate()") Update Profile

