extends includes/basePage
block scripts
    script(src="/assets/js/updateQuiz.js")
block styles
    link(rel="stylesheet" href="/assets/css/updateQuiz.css")
block page-content
    .container.updateQuiz
        .login-form
            .row
                h1(style="font-weight: 700!important;color: #2980b9!important;text-align:center;margin:5% 0%;" ) Quiz Details
            .row.form-group.mb-3.d-flex.justify-content-center
                label.form-label.mt-3#quizname(style="text-align:center") Quiz Name
                input.form-control.col-12.ml-2.mb-3#quizName(type="text" name="quizName"  placeholder="Enter Quiz Name" style="text-align:center;") 
            .row.d-flex(style="display:inline;")
                .col
                    span.quiz Select Quiz Date
                    input.form-control.mb-5.col-12#date(type="date"  name='date' step="1")
                .col
                    span.quiz Select Quiz Time
                    input.form-control.mb-5.col-12#time(type="time" name='time'  step="1")
            .row
                .timer
                    span.timer-span
                        span.timer-text 5
                    input.timer-input#range(type='range' max='60'  min='5' value='5' step='5' oninput='onInput()')
            .row.mt-5.d-flex.justify-content-center
                button.btn#submit(type="button" onclick="showdata()" ) UPDATE QUIZ