block navbar
    nav.navbar(style="background-color:white !important;box-shadow:0 6px 10px 0 rgba(0, 0, 0, 0.19);text-align: center;")
        a.navbar-brand(href="/ui/dashboard")
            img(src="/assets/img/icons/logo.jpg" style="width:40px;height:40px;margin-left:50%;margin-top:-1em;" alt="Being Zero")
        span.navbar-brand.mb-0.h1(style="margin-left:3%;") The Quizzie Platform
        .nav-item.nav-link.ml-auto(style={"font-size":'110%','font-family':'Arial, Helvetica, sans-serif'} )
            b#username Welcome
        div#btx
        #suggestpopup.modal
            .modal-dialog.modal-dialog-centered
                .modal-content#mm2
                    div#displaysuggestpopup