block navbar
    nav.navbar.navbar-light.mb-4(style="background-color:white !important;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);text-align: center;")
        a.navbar-brand(href="/index")
            img(src="/assets/img/icons/bzfavicon.png" width="35px" height="35px" alt="Being Zero")
        span.navbar-brand.mb-0.h1(style="margin-left:50px") The Quizzie Platform
        .nav-item.nav-link.ml-auto(style={"font-size":'18px','font-family':'Arial, Helvetica, sans-serif'} ) Welcome,User
        button.btn(type="button"  style={color: 'white', background: 'orange'}) Logout 