.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters
  a.nav-link(href='/')
    img.nav-logo(src='../CC LOGO-01.svg')
  p.MuiTypography-root.nav-head.MuiTypography-body1(varirant='h6') The Quizzie Platform
  .btn-bar
    h6.MuiTypography-root.nav-user.MuiTypography-h6 Welcome, Mr
    button.MuiButtonBase-root.MuiButton-root.MuiButton-text.logout-btn(tabindex='0' type='button')
      span.MuiButton-label Logout
      span.MuiTouchRipple-root

.MuiContainer-root.dashboard-page.MuiContainer-maxWidthLg
  h4.MuiTypography-root.dash-head.MuiTypography-h4 Organizer's Dashboard
  .dash-section
    header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorDefault.bg-white.tab-bar.MuiPaper-elevation4
      .MuiTabs-root
        .MuiTabs-scroller.MuiTabs-fixed(style='overflow: hidden;')
          .MuiTabs-flexContainer(aria-label='full width tabs dashboard' role='tablist')
            button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.MuiTab-fullWidth(tabindex='0' type='button' role='tab' aria-selected='true')
              span.MuiTab-wrapper Quizzes
              span.MuiTouchRipple-root
            button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.MuiTab-fullWidth(tabindex='-1' type='button' role='tab' aria-selected='false')
              span.MuiTab-wrapper Your Quizzes
              span.MuiTouchRipple-root
            button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.MuiTab-fullWidth(tabindex='-1' type='button' role='tab' aria-selected='false')
              span.MuiTab-wrapper Profile
              span.MuiTouchRipple-root
          span.jss196.jss197.MuiTabs-indicator(style='left: 0px; width: 316.8px;')
    #simple-tabpanel-0(role='tabpanel' aria-labelledby='simple-tab-0')
      div
        .quizzes-section
          .quiz-btn-section
            a.MuiButtonBase-root.MuiButton-root.MuiButton-text.create-quiz-btn(tabindex='0' role='button' aria-disabled='false' href='/createQuiz')
              span.MuiButton-label
                svg.MuiSvgIcon-root(focusable='false' viewBox='0 0 24 24' aria-hidden='true')
                  path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z')
                | Create a quiz
              span.MuiTouchRipple-root
          h5.MuiTypography-root.up-quizzes.MuiTypography-h5 Upcoming Quizzes
          .quiz-list.root1
            ul.MuiGridList-root.grid-list(style='margin: -2px;')
              li.MuiGridListTile-root.quiz-tile(style='width: 33.3333%; height: 184px; padding: 2px;')
                .MuiGridListTile-tile
                  img.MuiGridListTile-imgFullHeight(src='../CC LOGO-01.svg')
                  .MuiGridListTileBar-root.MuiGridListTileBar-titlePositionBottom.MuiGridListTileBar-rootSubtitle
                    .MuiGridListTileBar-titleWrap
                      .MuiGridListTileBar-title mine2
                      .MuiGridListTileBar-subtitle By: Kunal Singh 18BCI0189
              li.MuiGridListTile-root.quiz-tile(style='width: 33.3333%; height: 184px; padding: 2px;')
                .MuiGridListTile-tile
                  img.MuiGridListTile-imgFullHeight(src='../CC LOGO-01.svg')
                  .MuiGridListTileBar-root.MuiGridListTileBar-titlePositionBottom.MuiGridListTileBar-rootSubtitle
                    .MuiGridListTileBar-titleWrap
                      .MuiGridListTileBar-title test4
                      .MuiGridListTileBar-subtitle By: Kunal Singh 18BCI0189
              li.MuiGridListTile-root.quiz-tile(style='width: 33.3333%; height: 184px; padding: 2px;')
                .MuiGridListTile-tile
                  img.MuiGridListTile-imgFullHeight(src='../CC LOGO-01.svg')
                  .MuiGridListTileBar-root.MuiGridListTileBar-titlePositionBottom.MuiGridListTileBar-rootSubtitle
                    .MuiGridListTileBar-titleWrap
                      .MuiGridListTileBar-title guj
                      .MuiGridListTileBar-subtitle By: Kunal Singh 18BCI0189
              li.MuiGridListTile-root.quiz-tile(style='width: 33.3333%; height: 184px; padding: 2px;')
                .MuiGridListTile-tile
                  img.MuiGridListTile-imgFullHeight(src='../CC LOGO-01.svg')
                  .MuiGridListTileBar-root.MuiGridListTileBar-titlePositionBottom.MuiGridListTileBar-rootSubtitle
                    .MuiGridListTileBar-titleWrap
                      .MuiGridListTileBar-title Testing
                      .MuiGridListTileBar-subtitle By: zaki prince
    #simple-tabpanel-1(role='tabpanel' hidden='' aria-labelledby='simple-tab-1')
      div
        .history-section
          ul.MuiGridList-root.grid-list(style='margin: -2px;')
            li.MuiGridListTile-root.quiz-tile(style='width: 33.3333%; height: 184px; padding: 2px;')
              .MuiGridListTile-tile
                img.MuiGridListTile-imgFullWidth(src='../CC LOGO-01.svg')
                .MuiGridListTileBar-root.MuiGridListTileBar-titlePositionBottom.MuiGridListTileBar-rootSubtitle
                  .MuiGridListTileBar-titleWrap.MuiGridListTileBar-titleWrapActionPosRight
                    .MuiGridListTileBar-title temp
                    .MuiGridListTileBar-subtitle By: You
                  .MuiGridListTileBar-actionIcon
                    a.MuiButtonBase-root.MuiIconButton-root(tabindex='0' role='button' aria-disabled='false' aria-label='edit temp' title='Settings' href='/editQuiz/5fefdce9c069380017d993e8')
                      span.MuiIconButton-label
                        svg.MuiSvgIcon-root.enroll-icon(focusable='false' viewBox='0 0 24 24' aria-hidden='true')
                          path(transform='scale(1.2, 1.2)' d='M15.95 10.78c.03-.25.05-.51.05-.78s-.02-.53-.06-.78l1.69-1.32c.15-.12.19-.34.1-.51l-1.6-2.77c-.1-.18-.31-.24-.49-.18l-1.99.8c-.42-.32-.86-.58-1.35-.78L12 2.34c-.03-.2-.2-.34-.4-.34H8.4c-.2 0-.36.14-.39.34l-.3 2.12c-.49.2-.94.47-1.35.78l-1.99-.8c-.18-.07-.39 0-.49.18l-1.6 2.77c-.1.18-.06.39.1.51l1.69 1.32c-.04.25-.07.52-.07.78s.02.53.06.78L2.37 12.1c-.15.12-.19.34-.1.51l1.6 2.77c.1.18.31.24.49.18l1.99-.8c.42.32.86.58 1.35.78l.3 2.12c.04.2.2.34.4.34h3.2c.2 0 .37-.14.39-.34l.3-2.12c.49-.2.94-.47 1.35-.78l1.99.8c.18.07.39 0 .49-.18l1.6-2.77c.1-.18.06-.39-.1-.51l-1.67-1.32zM10 13c-1.65 0-3-1.35-3-3s1.35-3 3-3 3 1.35 3 3-1.35 3-3 3z')
                      span.MuiTouchRipple-root
    #simple-tabpanel-2(role='tabpanel' hidden='' aria-labelledby='simple-tab-2')
      div
        .profile-section
          h6.MuiTypography-root.profile-param.MuiTypography-h6
            | Name: 
            span.profile-data Mr Tourist
          h6.MuiTypography-root.profile-param.MuiTypography-h6
            | E-mail: 
            span.profile-data.resp-text zakiuddin321@gmail.com
          h6.MuiTypography-root.profile-param.MuiTypography-h6
            | Phone Number: 
            span.profile-data
          h6.MuiTypography-root.profile-param.MuiTypography-h6
            | Quizzes Created: 
            span.profile-data 1
          .m-top
            a.MuiButtonBase-root.MuiButton-root.MuiButton-text.profile-btn.update-prof-btn(tabindex='0' role='button' aria-disabled='false' href='/updateProfile/admin')
              span.MuiButton-label Update Profile
              span.MuiTouchRipple-root

