block page-content
    .container.dashboard-page
                h1.dash-head Dashboard
                .row
                    button.btn.col-4#defaultOpen.active(type="button" onclick="openPage('Quizzes', this)") Quizzes
                    button.btn.col-4(type="button" onclick="openPage('History', this)") History
                    button.btn.col-4(type="button" onclick="openPage('Profile', this)") Profile
                .row 
                    #Quizzes.tabcontent
                        h3 Quizzes 
                        p Home is where the heart is..
                    #History.tabcontent
                        h3 History 
                        p Home is where the heart is..
                    #Profile.tabcontent
                        