container(classname='login-page')
  div(classname='login-form')
    typography(variant='h3' color='primary' classname='login-head forgot-head')
      | Forgot Password
    br
    | 					{notSent ? (
    alert(severity='error' color='warning')
      | We couldn't find a user with that e-mail address.
    | 					) : null}
    form(classname='form')
      textinput#email(error='{' emailchanged='' ?='' emailerror.length='==' 0='' false='' :='' true='' }='' helpertext='{' null='' emailerror='' label='Email' type='email' classname='form-input' variant='outlined' value='{email}' onchange='{handleEmailChange}' onkeypress='{keyPress}')
    button(classname='login-btn' onclick='{handleReset}')
      | Send mail
