div(classname='loading-screen')
  circularprogress(color='primary')
    div(classname='loader')
      | Loading Quizzes
      span(classname='loader__dot') .
      span(classname='loader__dot') .
      span(classname='loader__dot') .
