div(classname='loading-screen')
  circularprogress(color='secondary')
    div(classname='loader')
      | Submitting your answers
      span(classname='loader__dot') .
      span(classname='loader__dot') .
      span(classname='loader__dot') .
