container(classname='login-page')
  div(classname='login-form')
    typography(variant='h3' color='primary' classname='login-head')
      | Update Profile
    br
    | 				{error === true ? (
    alert(severity='error') {errorText}
    | 				) : null}
    form(classname='form')
      textinput#old-pass(error='{oldPassError}' helpertext='{' oldpasserror='' ?='' "this='' cannot='' be='' empty"='' :='' null='' }='' label='Old Password' type='password' classname='form-input' variant='outlined' value='{oldPass}' onchange='{handleOldPassChange}')
      textinput#new-pass(error='{newPassError}' helpertext='{' newpasserror='' ?='' "this='' cannot='' be='' empty"='' :='' null='' }='' label='New Password' type='password' classname='form-input' variant='outlined' value='{newPass}' onchange='{handleNewPassChange}')
      br
      textinput#confirm-pass(error='{confirmPassError}' helpertext='{' confirmpasserror='' ?='' confirmpasserrortext='' :='' null='' }='' type='password' label='Confirm Password' classname='form-input' variant='outlined' value='{confirmPass}' onchange='{handleConfirmPassChange}' onkeypress='{keyPress}')
    button(classname='login-btn' onclick='{handleSubmit}')
      | Update
