container(classname='welcome-page')
  div(classname='welcome-screen')
    grid(container='' spacing='{0}')
      grid(item='' xs='{12}' md='{6}' classname='heading-section')
        img(src='head.png' classname='quiz-image' alt='Welcome to Quizzie')
      hidden(smdown='')
        grid(item='' xs='{12}' md='{6}' classname='pin-section')
          img(src='quiz.png' classname='pin-image' alt='User Representation')
    playmenubar
